body {
    border: 5px solid goldenrod;
    background-color: #00B587;
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(131, 55, 182);
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00B587;
    color: rgb(131, 55, 182);
    text-align: center;
}

.paragraph{
color: rgb(109, 0, 182);
background-color: #00B587;    
font-family: 'Gloria Hallelujah', cursive;
margin: 30px;
}


.header {
    background-color:lightseagreen;
    position: fixed;
    float: right;
    width: 100%;
    color: rgb(131, 55, 182);
    top: 0px;
}

.header a:hover {
    background-color: #9AFFBD;
    border-style: outset purple;

}

.header-right {
    padding: 10px;
    margin: 5px 30px 5px 30px;
    border: 0px solid black;
    font-size: 30px;
    text-align: right;
    float: right;
}
.Images{
    border: 5px solid rgb(43, 144, 211);
    width: auto;
    height: auto;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

.icon1 {
    position: relative;
    z-index: 100;
    text-align: center;
    left: 80%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin: 10px 100px 0px 10px;
    }   
    
.icon2 {
    position: relative;
    z-index: 100;
    text-align: center;
    left: 55%;
    top: 60%;
    transform: translate(-50%, -50%);
    margin: 10px 10px 0px 100px;
    }   
    
